.App {
  padding: 30px 0;
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.search {
  height: 30px;
  margin: 10px 20px;
}